<h1>The simple pleasures in life:</h1>
<p>That first sip of coffee in the morning.</p>
<p>That first sip of beer after a hot run.</p>
<p>Getting lost in a good book.</p>
<p>The very end of a tough workout.</p>
